<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projektopgaven_BobedreMaeglerneAS.Properties.Settings.KøberConnectionString"
            connectionString="Data Source=den1.mssql7.gear.host;Persist Security Info=True;User ID=bobedredb"
        <add name="Projektopgaven_BobedreMaeglerneAS.Properties.Settings.bobedredbConnectionString"
            connectionString="Server=den1.mssql7.gear.host; Database=bobedredb; User ID=bobedredb; Password=Xw8gM?O3doQ_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>